*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto";
}
ul{
    list-style-type: none;
}
img{
    max-width: 100%;
    display: block;
    margin: auto;
}
.header{
    background-color: #30598c ;
    height: 60px;
    padding: 0 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo img{
    width: 120px;


}
.sidebar{
    display: flex;
    align-items: center;
}
.avatar img{
    width: 32px;


}
.menu > ul{
    display: flex;
}
.menu-item{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
}
.sub-menu{
    position: absolute;
    top: 60px;
    right: 0;

    box-shadow: 0 0 10px;
    background-color: #fff;
    width: 200px;
    display: none;

}
.sub-menu-item:hover {
    color: #464646;
    text-align: center;
    
}


